
#poll-options {
  color: black;
}

// #form-input-btn, #delete-button, #twitter-button {
//   color: black;
// }

#form-input-btn {
  margin-top: 1em;
}

#twitter-button {
  margin-top: 1em;
}

#delete-button {
  margin-top: 1em;
  width: 100%;
}