@import 'nav-bar';
@import 'new-poll';
@import 'poll-details';

body {
  background-color: #333;
  color: white;
}

.container {
  background-color: black;
  border: none;
}

.twitter-color {
  background-color: #4099FF;
  color: white;
  border: none;
}

input {
  color: black;
}

#create-poll-btn {
  color: white;
}