
@import 'nav-bar';
@import 'new-poll';
@import 'poll-details';

body {
  background-color: #333;
  color: white;
}

// Panel in every page
.container {
  background-color: black;
  border: none;
}

input {
  color: black;
}