.top-menu
  .home
    a(href='/polls')
      #home-btn.btn
        p Home
  .my-polls
    a(href='/mypolls')
      #my-polls-btn.btn
        p My Polls
  .new-poll
    a(href='/newpoll')
      #new-poll-btn.btn
        p New Poll
  .display-name-dev
    p#display-name
  .logout
    a(href='/logout')
      #logout-btn.btn
        p Logout