doctype html
html(lang="en")
  head
    title Your Polls
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body 
    include navigation-bar.pug
    .container
      p Create a new poll
      form(action='/api/:id/polls', method='post')
        div
          label(for='title') Title:
          input#title(type='text', name='pollTitle')
        div
          label(for='options') Options (Separate with lines):
          textarea#options(name='pollOptions')
        .button
          button#create-pol-btn(type='submit') Create Poll
    script(type='text/javascript', src='common/ajax-functions.js')
    script(type='text/javascript', src='controllers/userController.client.js')