doctype html
html(lang="en")
  head
    title Poll Details
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body 
    include navigation-bar.pug
    h1#poll-title
    #optionsData
    form(action='', method='post')
      label I would like to vote for:
      select#poll-options(name='choices')
      input(type='submit')
    script(type='text/javascript', src='common/ajax-functions.js')
    script(type='text/javascript', src='controllers/userController.client.js')
    script(type='text/javascript', src='controllers/pollOptionsController.client.js')