.container#author-container
  span Built by 
    a.info-color(href='https://github.com/shintouki') Ted
  br
  span Github repository: 
    a.info-color(href='https://github.com/shintouki/voting-app') shintouki/voting-app