//- If cdn for bootstrap.css doesn't work, load from server
script.
  $(document).ready(function() {
    var $span = $('<span class="bs hidden"></span>');
    var $bs = $('body').append($span).find('.bs');
    if ($bs.css('display') !== 'none') {
      $("title").after('<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">');
    }
    $bs.remove();
  });