script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
  //- If cdn didn't load properly, load from server
script.
  $.fn.modal || document.write('<script type="text/javascript" src="/bootstrap/js/bootstrap.js"><\/script>');