script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
//- If cdn didn't load properly, load from server
script.
  window.Chart || document.write('<script type="text/javascript" src="/chartjs/Chart.min.js"><\/script>');
