script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
//- If cdn didn't load properly, load from server
script.
  window.jQuery || document.write('<script type="text/javascript" src="/jquery/jquery.js"><\/script>');
