doctype html
html(lang="en")
  head
    title Your Polls
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body 
    if (user) 
      include nav-bar-logged-in.pug
    else
      include nav-bar-logged-out.pug
    .container
      p Your Polls
      #user-polls
    script(type='text/javascript', src='/common/ajax-functions.js')
    script(type='text/javascript', src='/controllers/user-controller.client.js')
    script(type='text/javascript', src='/controllers/show-user-polls-controller.client.js')
