doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Your Polls
    link(href='/public/css/style.css', rel='stylesheet', type='text/css')
  body 
    if (user) 
      include nav-bar-logged-in.pug
    else
      include nav-bar-logged-out.pug
    .container
      p Your Polls
      #user-polls
    include scripts.pug
    script(type='text/javascript', src='/common/ajax-functions.js')
    script(type='text/javascript', src='/controllers/userController.client.js')
    script(type='text/javascript', src='/controllers/showUserPollsController.client.js')
