.top-menu
  .home
    a(href='/polls')
      #home-btn.btn
        p Home
  .login 
    a(href='/auth/twitter', onclick="window.open('/auth/twitter', 'twitterWindow', 'width=500, height=650'); return false;")
      #login-btn.btn
        p Log in with Twitter