doctype html
html(lang="en")
  head
    title Create New Poll
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body 
    if (user) 
      include nav-bar-logged-in.pug
    else
      include nav-bar-logged-out.pug
    .container
      p Create a new poll
      form(action = '/addpoll' method='post')
        div
          label(for='title') Title:
          input#title(type='text', name='pollTitle')
        div
          label(for='options') Options (Separate with lines):
          textarea#options(name='pollOptions')
        .button
          button#create-poll-btn(type='submit') Create Poll
    script.
      var user= !{JSON.stringify(user)}
    script(type='text/javascript', src='/common/ajax-functions.js')
    script(type='text/javascript', src='/controllers/user-controller.client.js')