doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Poll Details
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css')
    link(href='/public/css/style.css', rel='stylesheet', type='text/css')
  body
    if (user) 
      include nav-bar-logged-in.pug
    else
      include nav-bar-logged-out.pug
    .container.panel.panel-default
      .panel-body.row
        .col-sm-4
          h1#poll-title
          #optionsData
          form#vote-form(action='/vote?pollid=' + pollid, method='post')
            div
              label I would like to vote for:
            div
              select#poll-options.form-control(name='choice')
                option(selected, disabled, hidden) Choose an option
            div#custom-option(style='display:none')
              label(for='custom-option-input') Custom Option:
              input#custom-option-input(type='text', name='choice', maxlength="201", disabled)
            div
              button#form-input-btn.btn.btn-primary(type='submit', value="Submit") Submit
          if (user)
            button#twitter-button.btn.twitter-color Share on Twitter
        .col-sm-8
          canvas#myChart(width='400', height='400')
          button#delete-button.btn.btn-danger(style='visibility:hidden') Delete Poll

    include jquery.pug
    include bootstrap-js.pug
    include chartjs.pug
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-*.min.js')
    script.
      var pollId= !{JSON.stringify(pollid)}
      var user= !{JSON.stringify(user)}
    script(type='text/javascript', src='/common/ajax-functions.js')
    if (user)
      script(type='text/javascript', src='/controllers/userController.client.js')
    script(type='text/javascript', src='/controllers/pollOptionsController.client.js')
    script(type='text/javascript', src='/common/fixNavbarActive.js')
    //- Load bootstrap css from server if cdn failed
    include bootstrap-css.pug