doctype html
html(lang="en")
  head
    title Poll Details
  body 
    if (user) 
      include nav-bar-logged-in.pug
    else
      include nav-bar-logged-out.pug
    p Poll Details
    h1#poll-title
    #optionsData
    form(action='/vote?pollid=' + pollid, method='post', onSubmit='alert("You have voted for: " + choice.value)')
      label I would like to vote for:
      select#poll-options(name='choice')
        option(selected, disabled, hidden) Choose an option
      input#custom-option(type='text', name='choice', style='display:none', disabled)
      input(type='submit', value="Submit")
    button#delete-button(style='visibility:hidden') Delete Poll
    script.
      var pollId= !{JSON.stringify(pollid)}
      var user= !{JSON.stringify(user)}
    script(type='text/javascript', src='/common/ajax-functions.js')
    if (user)
      script(type='text/javascript', src='/controllers/userController.client.js')
    script(type='text/javascript', src='/controllers/pollOptionsController.client.js')
    
    