doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Voting App
    link(href='/public/css/style.css', rel='stylesheet', type='text/css')
  body
    if (user) 
      include nav-bar-logged-in.pug
    else
      include nav-bar-logged-out.pug
    .container
      p Select a poll to see voting results and vote.
      if (user)
        p Create your own polls.
      else
        p Log in with Twitter to create your own polls.
      #all-polls.polls
    include scripts.pug
    script(type='text/javascript', src='/common/ajax-functions.js')
    script(type='text/javascript', src='/controllers/showAllPollsController.client.js')
    if (user)
      script(type='text/javascript', src='/controllers/userController.client.js')
    script(type='text/javascript', src='/common/fixNavbarActive.js')