doctype html
html(lang="en")
  head
    title Voting App
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body
    if (user) 
      include navigation-bar.pug
    else
      .login 
        a(href='/auth/twitter', onclick="window.open('/auth/twitter', 'twitterWindow', 'width=500, height=650'); return false;")
          #login-btn.btn
            p Log in with Twitter
    .container
      p Voting App
      p Select a poll to see voting results and vote.
      p Log in with Twitter to create and edit your own polls.
      #all-polls.polls
    script(type='text/javascript', src='ajax-functions.js')
    if (user)
      script(type='text/javascript', src='user-controller.client.js')
