doctype html
html(lang="en")
  head
    title Poll Details
  body 
    if (user) 
      include nav-bar-logged-in.pug
    else
      include nav-bar-logged-out.pug
    p Poll Details
    h1#poll-title
    #optionsData
    form(action='', method='post')
      label I would like to vote for:
      select#poll-options(name='choices')
      input(type='submit')
    button#delete-button Delete Poll
    script(type='text/javascript', src='/common/ajax-functions.js')
    if (user)
      script(type='text/javascript', src='/controllers/user-controller.client.js')
    script.
      var pollId= !{JSON.stringify(pollid)}
    script(type='text/javascript', src='/controllers/poll-options-controller.client.js')
      