doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Poll Details
    link(href='/public/css/style.css', rel='stylesheet', type='text/css')
  body 
    if (user) 
      include nav-bar-logged-in.pug
    else
      include nav-bar-logged-out.pug
    p Poll Details
    h1#poll-title
    #optionsData
    form#vote-form(action='/vote?pollid=' + pollid, method='post')
      label I would like to vote for:
      select#poll-options(name='choice')
        option(selected, disabled, hidden) Choose an option
      div#custom-option(style='display:none')
        label(for='custom-option-input') Custom Option:
        input#custom-option-input(type='text', name='choice', disabled)
      input(type='submit', value="Submit")
    button#delete-button(style='visibility:hidden') Delete Poll
    div#poll-data
      h1 Poll Data
    if (user)
      button#twitter-button Share on Twitter
    script.
      var pollId= !{JSON.stringify(pollid)}
      var user= !{JSON.stringify(user)}
    script(type='text/javascript', src='/common/ajax-functions.js')
    if (user)
      script(type='text/javascript', src='/controllers/userController.client.js')
    script(type='text/javascript', src='/controllers/pollOptionsController.client.js')
    
    