<!DOCTYPE html>
<html>
    <head>
        <title>Voting App</title>  
        <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% if login %}
        {% include "navigation-bar.html" %}
        {% else %}
        <div class="login">
            <a href="/auth/twitter" onclick="window.open('/auth/twitter', 'twitterWindow', 'width=500, height=650'); return false;">
                <div class="btn" id="login-btn">
                    <p>Log in with Twitter</p>
                </div>
            </a>
        </div>
        {% endif %}
        <div class="container"> 
            <p class="">Voting App</p>
            <p>Select a poll to see voting results and vote.</p>
            <p>Log in with Twitter to create and edit your own polls.</p>
            <div class="polls" id="all-polls">

            </div>
        </div>

        <script type="text/javascript" src="common/ajax-functions.js"></script>
        {% if login %}
        <script type="text/javascript" src="controllers/userController.client.js"></script>
        {% endif %}
    </body>

</html>